/**
 * Groceries module styles
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */


.grocery-list {
  margin-bottom: 15px;

  .list-title {
    height: 40px;
    line-height: 40px;
    margin: 0;
    background: #61c3c1;
    padding: 0 20px;
    position: relative;

    span {
      color: $c-white;
    }

    .actions {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .list-content {
    border: 1px solid #cacaca;
    border-width: 0 1px 1px;
    padding: 5px 20px;

    ul {
      padding-left: 20px;

      li {
        padding: 5px 0 5px;
      }
    }
  }

  .mark-button {
    @extend .icon-button;
    background-image: url('images/mark.svg');
    background-size: 20px;
  }

  .remove-button {
    @extend .icon-button;
    background-image: url('images/cancel.svg');
    background-size: 20px;
  }
}