/**
 * Base template styles. Non-specific to any module.
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

* {
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  color: $c-black;

  &:focus {
    outline: none;
  }
}

// Helpers

.center {
  text-align: center !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.strong {
  font-weight: bold !important;
}

.none {
  color: $c-warm-gray !important;
}

.no-margin {
  margin: 0 !important;
}

// Global

.wrapper {
  padding: $header-height 25px 20px 25px;

  > .main {
    padding-top: 20px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $c-warm-gray;
  padding: 0;
  margin: 20px 0;
}

// Inputs

input[type=text], input[type=password], select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
}

input, select {
  width: 100%;
  border: 1px solid $input-border;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 15px 0;
  background: $c-white;

  &:disabled {
    color: $input-color-disabled;
  }

  &:focus {
    border-color: $input-border-focus;
  }
}

.input-w-button {
  padding: 10px 0;
  display: inline-block;
  width: 100%;

  input {
    float: left;
    width: calc(100% - 60px);
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  button {
    float: right;
    padding: 15px 10px;
    width: 60px;
    height: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

// Buttons

button, .button {
  padding: 20px 30px;
  border-radius: 7px;
  color: $c-white;
  border: none;
  background-color: $button-color;
  line-height: 1;

  &.btn-gray {
    background-color: $button-gray;
  }

  &.btn-yellow {
    background-color: $button-yellow;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.icon-button {
  padding: 0;
  width: 40px;
  height: 40px;
  background: transparent no-repeat center;
}

.top-left {
  position: fixed;
  top: 10px;
  left: 10px;
}

.top-right {
  position: fixed;
  top: 10px;
  right: 10px;
}

.button-wrapper {
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  width: 100%;

  button, .button {
    min-width: calc(50% - 5px);
  }
}

// Links

a {
  color: $link-color;
  text-decoration: none;
  line-height: $line-height;

  &:hover {
    opacity: 0.8;
  }
}

// Typography

h1, .title {
  width: 100%;
  text-align: center;

  font-size: 24px;
  color: $title-color;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.small-title {
  color: $title-color;
  font-weight: 600;
}

p {
  margin: 10px 0 20px;
  line-height: 1.4;
}
