/**
 * Core variables.
 *
 * @author Arturs Lataks <info@scandiweb.com>
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

// Header
$header-bg: #9ac6ff;
$header-height: 60px;

// Fonts
$base-font: Arial;
$line-height: 1.4;

// Colors
$c-black: #2d2d2d;
$c-white: #ffffff;
$c-gray: #f5f5f5;
$c-warm-gray: #979797;

// Buttons
$button-color: #3eb4eb;
$button-yellow: #edad38;
$button-gray: #b4b4b4;

// Inputs
$input-border-focus: #209cff;
$input-border: #c0c0c0;
$input-color-disabled: #c7c3c3;

// Text
$link-color: #209cff;
$title-color: #007dc6;
